body.headerMargin div.carepages {
	margin-top: 20px !important;
}

div.splashPage {
	background-color:#C6D9CC !important;
}

div.careHeader {
	background-color:#C6D9CC !important;
}

a.careMainLink {
	background-color:#C6D9CC !important;
}

a.careLink {
	color:#000000 !important;
}

ul.mobility a {
	color:green !important;
}

ul.selfcare a {
	color:#097054 !important;
}
h1.splashHeader {
	color:#000000 !important;	
}

h1.infoHeader {
	color: #176A35 !important;
}